In [1]:
lst_num = ['data','science','academy','nota',10,10]

In [2]:
type(lst_num)

list

In [3]:
lst_num.count(10)

2

In [4]:
print(type(10))

<class 'int'>

In [6]:
class Carro(object):
    pass

palio = Carro()

print(type(palio))

<class '__main__.Carro'>

In [7]:
class Estudantes:
    def __init__(self, nome, idade, nota):
        self.nome = nome
        self.idade = idade
        self.nota = nota

In [8]:
Estudante1 = Estudantes("Pele",12,9.5)

In [9]:
Estudante1.nome

'Pele'

In [10]:
Estudante1.idade

12

In [11]:
Estudante1.nota

9.5

In [24]:
class Funcionarios:
    def __init__(self,nome,salario):
        self.nome = nome
        self.salario = salario
        
    def listFunc(self):
        print("O nome do funcionário'e " + self.nome + " e o salario dele é de R$ " + str(self.salario) + ",00")

In [25]:
func1 = Funcionarios("Jorge",10000)

In [26]:
func1.listFunc()

O nome do funcionário'e Jorge e o salario dele é de R$ 10000,00

In [27]:
print("******* Usando atributos ********")

******* Usando atributos ********

In [29]:
hasattr(func1,"nome")

True

In [30]:
setattr(func1,"salario",4500)

In [31]:
getattr(func1,"salario")

4500

In [32]:
delattr(func1,"salario")

In [33]:
hasattr(func1,"salario")

False